﻿@model MvcSchoolWebApp.Models.PPMatricModel
@{
    ViewBag.Title = "Pre-Primary Cambridge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">

                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Student Evaluation
                                </label>
                            </li>

                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Pre-Primary Cambridge
                                </label>
                            </li>

                        </ul>
                    </div>

                    <div class="ibox-content">
                        <div class="row">

                            <form id="PPCForm" role="form" name="PPCForm">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusPPC", @id = "txtCampusPPC", @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Class/Level</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassPPC", @id = "txtClassPPC", @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Section</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionPPC", @id = "txtSectionPPC", @required = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Subject</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.subjectid, Model.subject, "Subject", new { @class = "form-control m-b", @name = "txtSubjectPPC", @id = "txtSubjectPPC", @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Module</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.moduleid, Model.module, "Module", new { @class = "form-control m-b", @name = "txtModulePPC", @id = "txtModulePPC", @required = true })
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Teacher Name</label>
                                        </div>

                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.teacher, new { @class = "form-control m-b", @name = "txtTeacherPPC", @id = "txtTeacherPPC", @readonly = true, @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>
                                                Date
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.date, "Date", new { @Value = ViewBag.date, @class = "date-day form-control m-b", @name = "txtDatePPC", @id = "txtDatePPC", @required = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="showGridPPC" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="PPC_div" style="display:none;">
        <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">

            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-content">
                        <div class="PPC_jqGrid m-b">
                            <table id="PPC_table"></table>
                            <div id="PPC_pager_list"></div>
                        </div>
                        <form role="form">
                            <div class="row ">
                                <div class="col-md-2">
                                    <button id="btnUploadMarksppc" name="btnUploadMarksppc" class="btn btn-sm btn-danger form-submitbtn" type="submit"><strong>Submit Marks</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

