* {
  box-sizing: border-box;
}

/* Make sure draggable area is whole page */
html, body {
  height: 100%;
}

body.droppable .profile-avatar-wrap {
  border: 5px dashed lightblue;
  z-index: 9999;
}

.page-wrap {
  width: 960px;
  margin: 100px auto;
}

h1 {
  margin: 0 0 30px 0;
  border-bottom: 5px solid #ccc;
}
h3 {
  clear: both;
  margin: 100px 0 0 0;
}

.profile {
  width: 50%;
}
.profile-avatar-wrap {
  width: 33.33%;
  float: left;
  margin: 0 20px 5px 0;
  position: relative;
  pointer-events: none;
  border: 5px solid transparent;
}
.profile-avatar-wrap:after {
  /* Drag Prevention */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile-avatar-wrap img {
  width: 100%;
  display: block;
}
.location {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
  font-size: 90%;
}
		.avatar-upload {
			width: 135px;
			height: 135px;
			border-radius: 160px;
			overflow: hidden;
		}
		.avatar-upload img {
			max-width: 135px;
			max-height: 135px;
		}