﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <!-- Info boxes -->
@using (Html.BeginForm("Assignment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form role="form" name="uploadform" id="uploadform">
        <div class="row">

            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div id="dvborder">

                        <div class="ibox-title ">
                            <ul id="vert_menu">
                                <li>
                                    <input type="radio" id="r1" name="r">
                                    <label for="r1">
                                        Academics
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r2" name="r">
                                    <label for="r2">
                                        Lesson Plan
                                    </label>
                                </li>

                                <li>
                                    <input type="radio" id="r3" name="r">
                                    <label for="r3">
                                        Upload Assignment
                                    </label>
                                </li>

                            </ul>



                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div role="form">
                                    <div class="row ">

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Campus</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusUA", @id = "txtCampusUA", @required = true })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Class/Level</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassUA", @id = "txtClassUA", @required = true })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-4">
                                                <label>Section</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionUA", @id = "txtSectionUA", @required = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Subject</label>
                                            </div>

                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.subjectid, Model.subject, "Subject", new { @class = "form-control m-b", @name = "txtSubjectUA", @id = "txtSubjectUA", @required = true })
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Category</label>
                                            </div>

                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.categoryid, Model.category, "Category", new { @class = "form-control m-b", @name = "txtCategoryUA", @id = "txtCategoryUA", @required = true })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-4">
                                                <label>
                                                    Date
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.begdate, new { @Value = ViewBag.date, @placeholder = "Date", @class = "date-day form-control m-b date", @name = "txtDate", @id = "txtDateUA", @required = true })
                                            </div>

                                            @*<div class="col-md-8">
                                                @Html.TextBoxFor(model => model.begdate, new { @Value = DateTime.Now.ToString("dd-MMMM-yyyy"), @placeholder = "Date", @class = "date-day form-control m-b date", @name = "txtDate", @id = "txtDateUA", @required = true })
                                            </div>*@

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div id="dvborder">
                        <div class="ibox-title ">
                        </div>
                        <div class="ibox-content">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">File</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="postedFile" name="postedFile">

                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                @*<input type="submit" value="Upload" class="input-group-addon btn btn-default fileinput-exists" />*@

                            </div>
                            <input type="submit" value="Uplaod" class="btn btn-sm btn-danger" id="btnuploadUA" />
                            <span style="color:green">@ViewBag.Message</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
</section>



