﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "StudentDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Test Result</span>
                    <span class="info-box-number" id="testResultBox"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">

                <span class="info-box-icon bg-green"><i class="fa fa-graduation-cap"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Self Assessment</span>
                    <span class="info-box-number">79.8%</span>
                </div>
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">

                <span class="info-box-icon bg-red"><i class="fa fa-briefcase"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Other Skills</span>
                    <span class="info-box-number">Average</span>
                </div>
            </div>
            
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">

                    <h4 class="col-md-3">Result Graph</h4>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(m => m.classesid, Model.classes, new { @class = "form-control m-b", @name = "txtClassSD", @id = "txtClassSD", @required = true })
                            </div>
                            @{
                                try
                                {
                                    var user_dtl = HttpContext.Current.Session["User_Dtl"] as List<MvcSchoolWebApp.Models.Users>;
                                    if (user_dtl[0].user_earea == "4000")
                                    {
                                        <div class="form-group col-md-3">
                                            @Html.DropDownListFor(m => m.stdname, Model.student, new { @class = "form-control m-b", @name = "txtStudentPD", @id = "txtStudentPD", @required = true })
                                        </div>
                                    }
                                }
                                catch (Exception ex)
                                {
                                    string url = "/dashboard";
                                    Response.Write("<script type='text/javascript'>");
                                    Response.Write("window.location.href = '" + url + "'</script>");
                                    Response.Flush();
                                }
                            }
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(m => m.moduleid, Model.module, new { @class = "form-control m-b", @name = "txtModuleSD", @id = "txtModuleSD", @required = true })
                            </div>
                            <div class="col-md-3 total-marks">
                                <div class="col-md-7">
                                    <label>Total Marks:</label>
                                </div>
                                <div class="col-md-5">
                                    <label for="lbltotalmarks"></label>
                                </div>
                            </div>
                            
                            @*test-result-chart*@
                            <div class="chart">
                                <canvas id="sub-result-chart" height="90"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                        <!-- /.col -->
                        @*<div class="col-md-4">

                            <div class="col-md-7">
                                <h4>Admission Graph</h4>
                            </div>
                            admission-chart
                            <canvas id="calendersection" height="240"></canvas>
                            
                            
                            <div id="datepicker1" />
                            
                        </div>*@
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">



                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
            <!-- MAP & BOX PANE -->
            <div class="box box-success">
                <div class="box-header with-border">
                    @*<h4 class="col-md-3">Revenue Graph</h4>
                        <div class="col-md-6"></div>
                        <h4 class="col-md-3">Total Students Graph</h4>*@
                    <h4 class="col-md-3"> </h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h4>Self Assessment</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="chart">
                                @*revenue-chart*@
                                <canvas id="selfassisment-chart" class="adj-minscreen" height="140"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="row">

                <!-- /.col -->
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- TABLE: LATEST ORDERS -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
        @*<div class="col-md-4">

            </div>*@
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>





