﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "TeacherDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media only screen and (max-width: 400px) {

        .adj-minscreen {
            /*height:400px!important;
            width:200px;*/
        }
    }
</style>
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        @*<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Test Result</span>
                        <span class="info-box-number">87<small>%</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>*@
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">

                <span class="info-box-icon bg-green"><i class="fa fa-graduation-cap"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Class Highest</span>
                    <span class="info-box-number" id="classResultBox"></span>
                </div>
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">

                <span class="info-box-icon bg-red"><i class="fa fa-briefcase"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Class Highest Average</span>
                    <span class="info-box-number" id="classavgBox"></span>
                </div>
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Students</span>
                    <span class="info-box-number">@ViewBag.TotalStidents</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">

                    <h4 class="col-md-3">Classwise Test Graph</h4>

                    <div class="">


                    </div>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-2">
                                @Html.DropDownListFor(m => m.campusid, Model.campus, new { @class = "form-control m-b", @name = "txtCampusCWT", @id = "txtCampusCWT", @required = true })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownListFor(m => m.classesid, Model.classes, new { @class = "form-control m-b", @name = "txtClassCWT", @id = "txtClassCWT", @required = true })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownListFor(m => m.sectionid, Model.section,  new { @class = "form-control m-b", @name = "txtSectionCWT", @id = "txtSectionCWT", @required = true })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.DropDownListFor(m => m.subjectid, Model.subject,  new { @class = "form-control m-b", @name = "txtSubjectCWT", @id = "txtSubjectCWT", @required = true })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.DropDownListFor(m => m.moduleid, Model.module,  new { @class = "form-control m-b", @name = "txtModuleCWT", @id = "txtModuleCWT", @required = true })
                            </div>
                            <div class="chart">
                                <canvas id="classwise-chart" class="adj-minscreen" height="120"></canvas>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">



                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">

                    <h4 class="col-md-3">Overall Test Graph</h4>

                    <div class="">


                    </div>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(m => m.campusid, Model.campus, new { @class = "form-control m-b", @name = "txtCampusSTD", @id = "txtCampusSTD", @required = true })
                            </div>
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(m => m.subjectidcamp, Model.subjectcamp, new { @class = "form-control m-b", @name = "txtSubjectSTD", @id = "txtSubjectSTD", @required = true })
                            </div>
                            <div class="form-group col-md-3">
                                @Html.DropDownListFor(m => m.moduleid, Model.module, new { @class = "form-control m-b", @name = "txtModuleSTD", @id = "txtModuleSTD", @required = true })
                            </div>

                            <div class="col-md-6 chart" id="graph-container">
                                <canvas id="oc-result-chart" height="120"></canvas>
                            </div>
                            <div class="col-md-6 chart">
                                <canvas id="op-result-chart" height="120"></canvas>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">



                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>

