﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "WeeklyPlanPP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #txttopicwlp {
        left: 1%;
        padding-right: 6%;
    }

    #custom-textarea, #txtresourcewlp {
        left: 3.5%;
        padding-right: 5.5%;
    }

    #txtdemoclass {
        left: -5%;
    }

    .myradio {
        left: -40px;
    }

    #txtevaluation {
        left: 1%;
    }

    #txtCommentsWP {
        height: 150px;
    }
    /*#custom-textarea {
    left : -3.5%;
    }*/
</style>
<section class="content">
    <!-- Info boxes -->
    @using (Html.BeginForm("WeeklyPlanPP", "Download", FormMethod.Post))
    {
        <div class="row">

            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div id="dvborder">

                        <div class="ibox-title ">

                            <ul id="vert_menu">
                                <li>
                                    <input type="radio" id="r1" name="r">
                                    <label for="r1">
                                        Academics
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r2" name="r">
                                    <label for="r2">
                                        Lesson Plan
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r3" name="r">
                                    <label for="r3">
                                        Weekly Lesson Plan
                                    </label>
                                </li>


                            </ul>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                @*<form role="form" id="downloadform" name="form">*@
                                @*<form role="form" id="weeklyplanform" name="weeklyplanform">*@
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusWLPP", @id = "txtCampusWLPP", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Class/Level</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassWLPP", @id = "txtClassWLPP", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Section</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionWLPP", @id = "txtSectionWLPP", @required = true })

                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label for="txtSubjectDI">Subject</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.subjectid, Model.subject, "Subject", new { @class = "form-control m-b", @name = "txtSubjectWLPP", @id = "txtSubjectWLPP", @required = true })
                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Week</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.month, "Week", new { placeholder = "Week", @class = "form-control m-b", @name = "weeklyDatePicker", @id = "weeklyDatePicker", @required = true })
                                            @Html.HiddenFor(model => model.begdate, new {  @name = "txtbegdateWLPP", @id = "txtbegdateWLPP" })
                                            @Html.HiddenFor(model => model.enddate, new { @name = "txtenddateWLPP", @id = "txtenddateWLPP" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-3 pull-right">
                                            <button type="submit" class="btn btn-danger" id="btn-editWLPP">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Teacher Name</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.DropDownListFor(m => m.studentid, Model.student, new { @class = "form-control m-b", @name = "txtteacherWLPP", @id = "txtteacherWLPP", @placeholder = "Teacher ID", @required = true, @readonly = true })
                            @*@Html.TextBoxFor(m => m.teachername, new { @class = "form-control m-b", @name = "txtteacherWLPP", @id = "txtteacherWLPP", @placeholder = "Teacher ID", @required = true, @readonly = true })*@
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Topic</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextBoxFor(m => m.topic, new { @class = "form-control m-b", @name = "txtTopicWLPP", @id = "txtTopicWLPP", @placeholder = "Topic", @required = true })
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Objective</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.objective, new { @placeholder = "Objective", @class = "form-control m-b", @name = "txtObjectWLPP", @id = "txtObjectWLPP", @required = true, @style = "resize:vertical" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Circle Time/ Materials</label>
                        </div>
                        <div class="col-md-10" id="txtresourcewlp">
                            @Html.TextBoxFor(m => m.resource, new { @class = "form-control m-b", @name = "txtMaterialWLPP", @id = "txtMaterialWLPP", @placeholder = "Circle Time/ Materials", @required = true })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Initiating Activities</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.evaluation, new { @placeholder = "Initiating Activities", @class = "form-control m-b", @name = "txtIniActWLPP", @id = "txtIniActWLPP", @required = true, @style = "resize:vertical" })
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Development Procedure</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.writtenwork, new { @placeholder = "Development Procedure", @class = "form-control m-b", @name = "txtDevproWLPP", @id = "txtDevproWLPP", @required = true, @style = "resize:vertical" })
                        </div>
                    </div>
                </div>

                <br />

                <div class="row ">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Assessment/Reflection</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.wrapup, new {@placeholder= "Assessment/Reflection", @class = "form-control m-b", @name = "txtAssessWLPP", @id = "txtAssessWLPP", @required = true, @style = "resize:vertical" })
                        </div>
                    </div>
                </div>

                <br />

                <div class="row ">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>Homework</label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.evaluationstdid, new { @placeholder = "Homework", @class = "form-control m-b", @name = "txthomeWLPP", @id = "txthomeWLPP", @required = true, @style = "resize:vertical" })
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-10">
                        <div class="col-md-2">
                            <label>
                                Principal Comments @{
                                    var user_dtl = HttpContext.Current.Session["User_Dtl"] as List<MvcSchoolWebApp.Models.Users>;
                                    if (user_dtl[0].user_earea == "1000" || user_dtl[0].user_earea == "2000")
                                    { <label> (Previous) </label> } }
                            </label>
                        </div>
                        <div class="col-md-10" id="custom-textarea">
                            @Html.TextAreaFor(m => m.princ_comments, new { @class = "form-control m-b", @name = "txtCommentsWLPP", @id = "txtCommentsWLPP", @style = "resize:vertical; height:180px;", @readonly = true })
                        </div>
                    </div>
                </div>

                <br />
                @{
                    if (user_dtl[0].user_earea == "1000" || user_dtl[0].user_earea == "2000")
                    {
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-2">
                                    <label> New Comment </label>
                                </div>
                                <div class="col-md-10" id="custom-textarea">
                                    @Html.TextAreaFor(m => m.princ_comments_new, new { @class = "form-control m-b", @name = "txtCommentsnewWLPP", @id = "txtCommentsnewWLPP", @required = true, @style = "resize:vertical" })
                                </div>
                            </div>
                        </div>
                    }

                }
                <br />

                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-10 col-md-offset-2" id="custom-textarea">
                            <input id="btnviewdown" type="submit" value="Submit" name="btnsubmit" class="btn btn-sm btn-danger" />
                        </div>
                    </div>
                </div>
                @*</form>*@
            </div>
        </div>
                    }
</section>
