﻿@model MvcSchoolWebApp.Models.ESSModel
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <!-- Info boxes -->
@using (Html.BeginForm("leaveRequest", "ESS", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-title ">
                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Employee Self Service
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Leave Request
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Employee Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.empid, "Employee Code", new { @Value = ViewBag.empid, @class = "form-control m-b", @name = "txtempidLvR", @id = "txtempidLvR", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.design, "Designation", new { @Value = ViewBag.design, @class = "form-control m-b", @name = "txtdesigLvR", @id = "txtdesigLvR", @required = true, @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <label>Type of Leave(s)</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.loanid, Model.loantyp, "Leave type", new { @class = "form-control m-b", @name = "txtLeavetypLvR", @id = "txtLeavetypLvR", @required = true })
                                    </div>

                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>First Day of Leave</label>
                                    </div>
                                    <div class="col-md-7" style="margin-left:5px;">
                                        @Html.TextBoxFor(model => model.begdate, "Date", new { @Value = ViewBag.date, @class = "form-control m-b", @name = "txtbegdateLvR", @id = "txtbegdateLvR", @required = true})
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Last Day of Leave</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(model => model.lastdate, "Date", new { @Value = ViewBag.lastdate, @class = "form-control m-b", @name = "txtlastdateLvR", @id = "txtlastdateLvR", @required = true})
                                        @* @Html.TextBoxFor(model => model.teachername, new { @class = "form-control m-b", @name = "txtTeacherMU", @id = "txtTeacherMU", @readonly = true, @required = true })*@
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Total number of days</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.totdays, new { @Value = "0", @class = "form-control m-b", @name = "txtnumDayLvR", @id = "txtnumDayLvR", @required = true, @readonly = true })
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(model => model.reason, new { @class = "form-control m-b", @name = "txtReasonLvR", @id = "txtReasonLvR", @required = true, @style = "resize:vertical; height:100px;" })

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-md-5 form-group">
                                        <input type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <span style="color:green">@ViewBag.Message</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-title ">
                        <h3>
                            Leave Status
                        </h3>
                    </div>

                    <div class="ibox-content">
                        <form id="attendanceForm" role="form" name="attendanceForm">
                            <div class="row">
                                <div class="col-md-3"><label>Approver</label></div>
                                <div class="col-md-3"><label>Accepted</label></div>
                                <div class="col-md-3"><label>Rejected</label></div>
                                <div class="col-md-3"><label>Comments</label></div>
                            </div>

                            @{
                                var items = ViewBag.trackinglist;
                                bool accepted = false;
                                if (items != null)
                                {
                                    int i = 0;
                                    foreach (var list in items)
                                    {
                                        i++;
                                        <div class="row">
                                            <div class="col-md-3"> <label> @list.appvrid </label> </div>
                                            @if (list.loan_status == "01" || list.loan_status == "02")
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" checked disabled></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" disabled></label></div>
                                            }
                                            else if (list.loan_status == "04" || list.loan_status == "05")
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" checked></label></div>
                                            }
                                            <div class="col-md-3"> <textarea class="form-control m-b" style="resize:none;" disabled> @list.comments </textarea> </div>
                                        </div>
                                    }
                                }

                            }
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


