﻿@model MvcSchoolWebApp.Models.ESSModel
@{
    ViewBag.Title = "loanRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    @using (Html.BeginForm("loanRequest", "ESS", FormMethod.Post))
    {
        <form id="loanReqForm" role="form" name="loanReqForm">
            <!-- Info boxes -->
            <div class="row">

                <div class="col-lg-12">

                    <div class="ibox float-e-margins">
                        <div id="dvborder">

                            <div class="ibox-title ">

                                <ul id="vert_menu">
                                    <li>
                                        <input type="radio" id="r1" name="r">
                                        <label for="r1">
                                            Employee Self Service
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" id="r2" name="r">
                                        <label for="r2">
                                            Loan Request
                                        </label>
                                    </li>

                                </ul>
                            </div>

                            <div class="ibox-content">
                                <div class="row">


                                    <div class="row ">

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Employee Id</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.empid, "Employee Code", new { @Value = ViewBag.empid, @class = "form-control m-b", @name = "txtempidLR", @id = "txtempidLR", @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.begdate, "Date", new { @Value = ViewBag.date, @class = "form-control m-b", @name = "txtbegdateLR", @id = "txtbegdateLR", @required = true, @readonly = true })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Joining Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.joindate, "Date", new { @Value = ViewBag.joindate, @class = "form-control m-b", @name = "txtjoindateLR", @id = "txtjoindateLR", @required = true, @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Confirmation Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.confrdate, "Date", new { @Value = ViewBag.confrdate, @class = "form-control m-b", @name = "txtconfrdateLR", @id = "txtconfrdateLR", @required = true, @readonly = true })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Designation</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.design, "Designation", new { @Value = ViewBag.design, @class = "form-control m-b", @name = "txtdesigLR", @id = "txtdesigLR", @required = true, @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Department</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.dept, "Department", new { @Value = ViewBag.dept, @class = "form-control m-b", @name = "txtdeptLR", @id = "txtdeptLR", @required = true, @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="prodiv4">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div id="dvborder">
                            <div class="ibox-title">
                                <h3>
                                    Loan Details
                                </h3>
                            </div>
                            <div class="ibox-content">
                                <form id="loanRequestForm" role="form">
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Loan Type</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.loanid, Model.loantyp, "Loan type", new { @class = "form-control m-b", @name = "txtLoantypLR", @id = "txtLoantypLR", @required = true })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Applied Loan Amount</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.loanamt, new { @placeholder = "Applied Loan Amount", @class = "form-control m-b", @name = "txtloanamtLR", @id = "txtloanamtLR", @required = true, @pattern = "[^a-zA-Z]+" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Payback Period</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.payperiod, new {@type = "number", @placeholder = "Number of month(s)", @class = "form-control m-b", @name = "txtpayperiodLR", @id = "txtpayperiodLR", @required = true, @pattern = "[^a-zA-Z]+", @title = "example: 2", @min = "1", @max = "12" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Instalment Per Month</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.lontintl, "Installment(s)", new { @class = "form-control m-b", @name = "txtinstalLR", @id = "txtinstalLR", @required = true, @readonly = true })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Re-pay Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.repaydate, "Date", new { @Value = ViewBag.repaydate, @class = "form-control m-b", @name = "txtrpaydateLR", @id = "txtrpaydateLR", @required = true })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-5">
                                                <label>Last Date Completed</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.lastdate, "Date", new { @Value = ViewBag.lastdate, @class = "form-control m-b", @name = "txtlastdateLR", @id = "txtlastdateLR", @required = true, @readonly = true })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-4">
                                            <div class="col-md-5 form-group">
                                                <input id="btnloanRequest" type="submit" value="Submit" name="btnloanRequest" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <span style="color:green">@ViewBag.Message</span>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-title ">
                        <h3>
                            Loan Status
                        </h3>
                    </div>

                    <div class="ibox-content">
                        <form id="loanStatusForm" role="form" name="loanStatusForm ">
                            <div class="row">
                                <div class="col-md-3"><label>Approver</label></div>
                                <div class="col-md-3"><label>Accepted</label></div>
                                <div class="col-md-3"><label>Rejected</label></div>
                                <div class="col-md-3"><label>Comments</label></div>
                            </div>
                            @{
                                var items = ViewBag.trackinglist;
                                bool accepted = false;
                                if (items != null)
                                {
                                    int i = 0;
                                    foreach (var list in items)
                                    {
                                        i++;
                                        <div class="row">
                                            <div class="col-md-3"> <label> @list.appvrid </label> </div>
                                            @if (list.loan_status == "01" || list.loan_status == "02")
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" checked disabled></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" disabled></label></div>
                                            }
                                            else if (list.loan_status == "04" || list.loan_status == "05")
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline"></label></div>
                                                <div class="col-md-3"><label><input type="radio" name="@i" value="CEO" style="display:inline" checked></label></div>
                                            }
                                            <div class="col-md-3"> <textarea class="form-control m-b" style="resize:none;" disabled> @list.comments </textarea> </div>
                                        </div>
                                    }
                                }

                            }


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
