/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

#demo-popup {
    width: 60%;
    position: fixed;
    margin-top: 10%;
    margin-left: 20%;
    z-index: 1000;
}

.icheckbox_square-green {
    background-position: 0 0;
}

    .icheckbox_square-green.hover {
        background-position: -24px 0;
    }

    .icheckbox_square-green.checked {
        background-position: -48px 0;
    }

    .icheckbox_square-green.disabled {
        background-position: -72px 0;
        cursor: default;
    }

    .icheckbox_square-green.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-green {
    background-position: -120px 0;
}

    .iradio_square-green.hover {
        background-position: -144px 0;
    }

    .iradio_square-green.checked {
        background-position: -168px 0;
    }

    .iradio_square-green.disabled {
        background-position: -192px 0;
        cursor: default;
    }

    .iradio_square-green.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

/* Zubair margin 6% */
.form-submitbtn {
    margin: 8% 0% !important;
}

.ui-datepicker-calendar {
    display: none;
}

.logoadjust {
    float: left;
    margin-top: 5px;
}


#dvborder {
    border: 1px solid #d2d6de;
}

.my-error-class {
    color: #FF0000; /* red */
    border-color: #FF0000;
}

.labeldata {
    font-weight: 500;
}

.btn-margin-top {
    margin-top: -0.8%;
}

.btn-icon {
    background: none;
    padding: 0;
    border: 0;
}
