﻿/****JqGrid ****/
.ui-jqgrid {
    -moz-box-sizing: content-box;
}
.ui-jqgrid-btable {
    border-collapse: separate;
}
.ui-jqgrid-htable {
    border-collapse: separate;
}
.ui-jqgrid-titlebar {
    height: 40px;
    line-height: 15px;
    color: #676a6c;
    background-color: #F9F9F9;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 1.1em 1em 0.2em;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    position: relative;
    border-left: 0 solid;
    border-right: 0 solid;
    border-top: 0 solid;
}
.ui-widget-header {
    background: none;
    background-image: none;
    background-color: #f5f5f6;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: left;
    border-color: #DDDDDD;
    background-color: inherit;
}
.ui-search-toolbar input[type="text"] {
    font-size: 12px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    line-height: 15px;
    font-weight: bold;
    color: #676a6c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.ui-widget-content {
    box-sizing: content-box;
}
.ui-icon-triangle-1-n {
    background-position: 1px -16px;
}
.ui-jqgrid tr.ui-search-toolbar th {
    border-top-width: 0 !important;
    border-top-color: inherit !important;
    border-top-style: ridge !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #f5f5f5;
    border-collapse: separate;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #f2fbff;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #dddddd;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}
.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: 50px;
    border: 1px solid #CCCCCC;
    height: 15px;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    font-size: 1em;
    height: 25px;
    line-height: 18px;
    margin: 0;
    width: auto;
}
.ui-jqgrid .ui-pager-control {
    position: relative;
}
.ui-jqgrid .ui-jqgrid-pager {
    height: 32px;
    position: relative;
}
.ui-pg-table .navtable .ui-corner-all {
    border-radius: 0;
}
.ui-jqgrid .ui-pg-button:hover {
    padding: 1px;
    border: 0;
}
.ui-jqgrid .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index: 101;
    padding: 6px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    display: none;
    border-width: 2px !important;
    font-size: 11px;
}
.ui-jqgrid .form-control {
    height: 10px;
    width: auto;
    display: inline;
    padding: 10px 12px;
}
.ui-jqgrid-pager {
    height: 32px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0;
}
.ui-widget-content {
    border: 1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    padding: 0;
}
.ui-jqgrid .ui-jqgrid-titlebar {
    border-bottom: 1px solid #ddd;
}
.ui-jqgrid tr.jqgrow td {
    padding: 6px;
}
.ui-jqdialog .ui-jqdialog-titlebar {
    padding: 10px 10px;
}
.ui-jqdialog .ui-jqdialog-title {
    float: none !important;
}
.ui-jqdialog > .ui-resizable-se {
    position: absolute;
}


/****JqGrid ****/