﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "TeacherResponsibility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #4caf50;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        height: 22px;
        width: 50px;
        border-radius: 34px;
    }

        .slider.round:before {
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 2px;
            border-radius: 50%;
        }
</style>

<section class="content">
    <!-- Info boxes -->

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title ">
                    <ul id="vert_menu">
                        <li>
                            <input type="radio" id="r1" name="r">
                            <label for="r1">
                                Academics
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="r2" name="r">
                            <label for="r2">
                                Administrations
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="r3" name="r">
                            <label for="r3">
                                Teacher Responsibility
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="ibox float-e-margins">
                    <div style="border: 1px solid #d2d6de;">
                        <div class="ibox-content">
                            <form role="form" id="teacherRespform" name="teacherRespform">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusATR", @id = "txtCampusATR", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Employee Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.empid, Model.empname, "Employee", new { @class = "form-control m-b", @name = "txtEmployeeATR", @id = "txtEmployeeATR", @required = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input type="submit" id="teacherrespdiv" value="Submit" name="teacherrespdiv" class="btn btn-sm btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " style="border: 1px solid #d2d6de; display:none;" id="TeacherResp_div">
                <div class="ibox-content" id="TeacherResp_div">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label>Class/Level</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.classesid, Model.classes, "Class", new { @class = "form-control m-b", @name = "txtClassATR", @id = "txtClassATR", @required = true })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label>Section</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionATR", @id = "txtSectionATR", @required = true })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label>Subject</label>
                            </div>
                            <div class="col-md-7">
                                @Html.DropDownListFor(m => m.subjectid, Model.subject, "Subject", new { @class = "form-control m-b", @name = "txtSubjectATR", @id = "txtSubjectATR", @required = true })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <label>Class Teacher</label>
                            </div>
                            <div class="col-md-7">
                                <label class="switch">
                                    <input type="checkbox" id="classteachind">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <input type="submit" id="btnaddATR" value="Add" name="btnaddATR" class="btn btn-sm btn-danger" />
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="TeacherResp_wrapper m-b">
                            <table id="TeacherResp_table"></table>
                            <div id="TeacherResp_pager_list"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-5">
                                <input type="submit" id="btninsertATR" value="Submit Responsibility" name="btninsertATR" class="btn btn-sm btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>