﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "UploadTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UploadTimetable", "TimeTable", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="content">
        <!-- Info boxes -->


        <div class="row">

            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div id="dvborder">

                        <div class="ibox-title ">
                            <ul id="vert_menu">
                                <li>
                                    <input type="radio" id="r1" name="r">
                                    <label for="r1">
                                        Academics
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r2" name="r">
                                    <label for="r2">
                                        Timetable
                                    </label>
                                </li>

                                <li>
                                    <input type="radio" id="r3" name="r">
                                    <label for="r3">
                                        Upload Timetable
                                    </label>
                                </li>

                            </ul>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <form role="form" id="uploadtimetableform" name="uploadtimetableform">
                                    <div class="row ">

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Campus</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusUT", @id = "txtCampusUT", @required = true })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Class/Level</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassUT", @id = "txtClassUT"})
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Section</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionUT", @id = "txtSectionUT"})
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Category</label>
                                            </div>

                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.categoryid, Model.category, "Category", new { @class = "form-control m-b", @name = "txtCategoryUT", @id = "txtCategoryUT", @required = true })
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>
                                                    Date
                                                </label>
                                            </div>

                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.begdate, new { @Value = ViewBag.date, @class = "date-day form-control m-b", @name = "txtDate", @id = "txtDateUT", @required = true })
                                            </div>

                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div id="dvborder">
                        <div class="ibox-title ">
                        </div>
                        <div class="ibox-content">
                            <p style="font-family:initial; font-size:14px;">Note: You can only upload files less than 25 MB</p>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="postedFile">

                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                @*<input type="submit" value="Upload" class="input-group-addon btn btn-default fileinput-exists" />*@

                            </div>
                            <input type="submit" value="Upload" class="btn btn-sm btn-danger" id="btnuploadtimetable" />
                            <span style="color:green">@ViewBag.Message</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

}
