﻿@model MvcSchoolWebApp.Models.ESSModel
@{
    ViewBag.Title = "leaveApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #leavecontent {
        max-height: 400px;
        overflow-y: auto;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">

                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Managerial Self Service
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Leave Approval
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="ibox-content" id="leaveapp_div">
                        <div class="leaveapp_jqGrid m-b">
                            <table id="leaveapp_table"></table>
                            <div id="leaveapp_pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("leaveRecommend", "MSS", FormMethod.Post))
    {
        <div class="modal inmodal" id="LeaveRecodPopup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Leave Detail</h4>
                    </div>
                    <form id="leavepopupform" name="leavepopupform" method="post" action="">
                        <div class="modal-body" id="leavecontent">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Employee Id</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.empid, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecEmpidLvA", @id = "txtrecEmpidLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Request Number</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.recordno, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloanreqnoLvA", @id = "txtrecloanreqnoLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Employee Name</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.empname, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecEmpnameLvA", @id = "txtrecEmpnameLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Joining Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.joindate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloanjoinLvA", @id = "txtrecloanjoinLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.design, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloandesigLvA", @id = "txtrecloandesigLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Leave Type</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.loanid, Model.loantyp, new { @class = "form-control m-b", @name = "txtLoantypRecodLvA", @id = "txtLoantypRecodLvA", @required = true, @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Leave Days</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.totdays, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloanAmtLvA", @id = "txtrecloanAmtLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.begdate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloanappbdateLvA", @id = "txtrecloanappbdateLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>End Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.lastdate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtrecloanappedateLvA", @id = "txtrecloanappedateLvA", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Send To</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.recodid, Model.recodtype, new { @class = "form-control m-b", @name = "txtRecommenderLvA", @id = "txtRecommenderLvA", @required = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.coments, "Enter Coments", new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtRecodCommentsLvA", @id = "txtRecodCommentsLvA", @required = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Accept" class="btn btn-primary" name="btnRecsubmitLvA"
                                           id="btnRecsubmitLvA" />
                                    <button type="button" class="btn btn-danger" name="btnrecodRecrej" id="btnrecodRecrejLvA">Reject</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("leaveApprovalAsPerPolicy", "MSS", FormMethod.Post))
    {
        <div class="modal inmodal" id="LeaveAppPopup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Leave Detail</h4>
                    </div>
                    <form id="loanpopupform" name="loanpopupform" method="post" action="">
                        <div class="modal-body" id="loancontent">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Employee Id</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.empid, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveEmpid", @id = "txtleaveEmpid", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Request Number</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.recordno, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleavereqno", @id = "txtleaveleavereqno", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Employee Name</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.empname, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveEmpname", @id = "txtleaveEmpname", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Joining Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.joindate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleavejoin", @id = "txtleaveleavejoin", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.design, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleavedesig", @id = "txtleaveleavedesig", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Leave Type</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.loanid, Model.loantyp, new { @class = "form-control m-b", @name = "txtleaveleavetypAppr", @id = "txtleaveleavetypAppr", @required = true, @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Leave Days</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.totdays, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleaveday", @id = "txtleaveleaveday", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.begdate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleaveappbdate", @id = "txtleaveleaveappbdate", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>End Date</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.lastdate, new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveleaveappedate", @id = "txtleaveleaveappedate", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="apprcomboLvA">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Recommend To</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.apprrecodtypid, Model.apprrecodtyp, "Recommend", new { @class = "form-control m-b", @name = "txtApprRecomendLvA", @id = "txtApprRecomendLvA" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.coments, "Enter Coments", new { @style = "padding:2px;", @class = "form-control m-b", @name = "txtleaveRecodComments", @id = "txtleaveRecodComments", @required = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-warning" name="btnleaveAccpt" id="btnleaveAccpt">Accept</button>
                                    <input type="submit" value="Accepted Per Policy" class="btn btn-success" name="btnleavecsubmit"
                                           id="btnleavecsubmit" />
                                    <button type="button" class="btn btn-danger" name="btnleaveRecrej" id="btnleaveRecrej">Reject</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</section>
