﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "CampusStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Info boxes -->
    <div class="row">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">

                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Admissions
                                </label>
                            </li>

                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Admission Status
                                </label>
                            </li>

                        </ul>
                    </div>

                    <div class="ibox-content">
                        <div class="row">

                            <form id="campusStatusForm" role="form" name="campusStatusForm">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusStatus", @id = "txtCampusStatus", @required = true })
                                        </div>
                                    </div>

                                </div>

                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="campusStatusshowGrid" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " style="border: 1px solid #d2d6de; display:none;" id="campusStatus_div">
                <div class="ibox-content" id="campusStatus_div">
                    <div class="campusStatus_jqGrid m-b">
                        <table id="campusStatus_table"></table>
                        <div id="campusStatus_pager_list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

