﻿@model MvcSchoolWebApp.Models.DatabaseModel

<section class="content">
    <!-- Info boxes -->

    @*@using (Html.BeginForm())
    {*@
        <div class="row">

            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div id="dvborder">
                        <div class="ibox-title ">

                            <ul id="vert_menu">
                                <li>
                                    <input type="radio" id="r1" name="r">
                                    <label for="r1">
                                        Academics
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r2" name="r">
                                    <label for="r2">
                                        Personal Information
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r3" name="r">
                                    <label for="r3">

                                        Class Wise Personal
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="ibox-content">
                            <div class="row">
                                <form method="post" role="form" id="classWiseForm" name="classWiseForm">

                                    <div class="row ">

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Campus</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusCW", @id = "txtCampusCW", @required = true })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Class</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassCW", @id = "txtClassCW", @required = true })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Section</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionCW", @id = "txtSectionCW", @required = true })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <input id="showdivCW" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*}*@
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " style="border: 1px solid #d2d6de; display:none;" id="classwise_div">
                <div class="ibox-content" id="classwise_div">
                    <div class="classwise_jqGrid">
                        <table id="classwise_table"></table>
                        <div id="pager_list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


