﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "Feechalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Info boxes -->

        <div class="row">

            <div class="col-lg-12">


                <div class="ibox float-e-margins">
                    <div id="dvborder">

                        <div class="ibox-title ">
                            <ul id="vert_menu">
                                <li>
                                    <input type="radio" id="r1" name="r">
                                    <label for="r1">
                                        Academics
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r2" name="r">
                                    <label for="r2">
                                        Fee
                                    </label>
                                </li>
                                <li>
                                    <input type="radio" id="r3" name="r">
                                    <label for="r3">
                                        Fee Challan
                                    </label>
                                </li>

                            </ul>


                        </div>
@using (Html.BeginForm())
{
                        <div class="ibox-content">
                            <div class="row">
                                <form role="form" id="feechalanform" name="feechalanform">
                                    <div class="row ">

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Campus</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusFC", @id = "txtCampusFC" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Class/Level</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassFC", @id = "txtClassFC" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Section</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionFC", @id = "txtSectionFC" })
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Student Name</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(m => m.studentid, Model.student, "Student", new { @class = "form-control m-b", @name = "txtStudentFC", @id = "txtStudentFC" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-5">
                                                <label>Pick a Month</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.feeMonth, new { @Value = ViewBag.date, placeholder = "Month", @class = "date-month form-control m-b", @name = "txtSelectMonth", @id = "txtSelectMonth" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="col-md-4">

                                            <div class="col-md-5 form-group">
                                                <input id="btnfeechalan" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    

</section>

