﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "Feehistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Info boxes -->
@*@using (Html.BeginForm())
{*@
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">
                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                   Fee
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Fee History
                                </label>
                            </li>

                        </ul>


                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form role="form" id="feehistoryform" name="feehistoryform">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusFH", @id = "txtCampusFH" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Class/Level</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassFH", @id = "txtClassFH" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Section</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionFH", @id = "txtSectionFH" })
                                        </div>
                                    </div>
                                   

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Student Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.studentid, Model.student, "Student", new { @class = "form-control m-b", @name = "txtStudentFH", @id = "txtStudentFH" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Pick a Year</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.month, new { @Value = ViewBag.date, placeholder = "Month", @class = "date-year form-control m-b", @name = "txtSelectMonth", @id = "txtSelectMonth" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-4">

                                        <div class="col-md-5 form-group">
                                            <input id="btnfeehistory" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*mastertimetablediv as feehistorydiv
    mastertimetable_wrapper as feehistory_wrapper
    mastertimetablegrid as feehistorygrid
    mastertimetable_pager as feehistory_pager
    btnmastertimetable as btnfeehistory
    mastertimetableform  as feehistoryform*@

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="feehistorydiv" style="display:none;">
                <div id="dvborder">
                    <div class="ibox-content">
                        <div class="feehistory_wrapper">
                            <table id="feehistorygrid"></table>
                            <div id="feehistory_pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*}*@

</section>

