﻿@model MvcSchoolWebApp.Models.DatabaseModel
@{
    ViewBag.Title = "Feestatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Info boxes -->
@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-lg-12">


            <div class="ibox float-e-margins">
                <div id="dvborder">

                    <div class="ibox-title ">
                        <ul id="vert_menu">
                            <li>
                                <input type="radio" id="r1" name="r">
                                <label for="r1">
                                    Academics
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r">
                                <label for="r2">
                                    Fee
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="r">
                                <label for="r3">
                                    Fee Status
                                </label>
                            </li>

                        </ul>


                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form role="form" id="feestatusform" name="feestatusform">
                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Campus</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.campusid, Model.campus, "Campus", new { @class = "form-control m-b", @name = "txtCampusFS", @id = "txtCampusFS" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Class/Level</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.classesid, Model.classes, "Class/Level", new { @class = "form-control m-b", @name = "txtClassFS", @id = "txtClassFS" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Section</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.sectionid, Model.section, "Section", new { @class = "form-control m-b", @name = "txtSectionFS", @id = "txtSectionFS" })
                                        </div>
                                    </div>
                                  
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Student Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.studentid, Model.student, "Student", new { @class = "form-control m-b", @name = "txtStudentFS", @id = "txtStudentFS" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Pick a Month</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.month, new { @Value = DateTime.Now.ToString("MMMM"), placeholder = "Month", @class = "form-control m-b", @name = "txtSelectMonth", @id = "txtSelectMonth" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-4">

                                        <div class="col-md-5 form-group">
                                            <input id="btnfeestatus" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*mastertimetablediv as feestatusdiv
    mastertimetable_wrapper as feestatus_wrapper
    mastertimetablegrid as feestatusgrid
    mastertimetable_pager as feestatus_pager
    btnmastertimetable as btnfeestatus
    mastertimetableform as feestatusform*@

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="feestatusdiv">
                <div id="dvborder">
                    <div class="ibox-content">
                        <div class="feestatus_wrapper">
                            <table id="feestatusgrid"></table>
                            <div id="feestatus_pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
</section>

